.data {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}

.table-header {
  background: #2d2d2d;
}

.table-header th {
  border: 1px solid #ddd;
  padding: 12px 16px;
  font-weight: normal;
}
